<template>
  <div class="home">
    <div id="mapa">
      <ShowDetails />
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src
import ShowDetails from "../components/ShowDetails.vue";

export default {
  name: 'HomeView',
  components: {
    ShowDetails
  }
} 
</script>
