<template>
  <div class="detail p-3 w-1/5 mx-3 bg-gray-50
   relative shadow-lg ">
   <!-- before:w-28 before:h-27 before:bottom-0 before:z-10 before:right-2/4 before:skew-x-12 before:bg-slate-600 -->
    <i class="bx bx-x absolute top-0 right-0"></i>
    <div class="main py-1">
      <span class="text-black underline text-xs">Detalles del Lote</span>
    </div>
    <div class="detais my-2 p-1 border rounded-md">
      <span class="uppercase font-medium text-xs">Fraccion 1</span>
      <p
        class="
          bg-teal-500
          text-white
          font-bold
          rounded-sm
          uppercase
          px-2
          text-xs
        "
      >
        El Progreso
      </p>
      <span class="uppercase text-xs font-medium">Ubicacion</span>
      <p
        class="
          bg-gray-500
          text-white
          font-bold
          rounded-sm
          uppercase
          px-2
          text-xs
        "
      >
        Espinillo
      </p>
    </div>
    <div class="data mb-2 p-1 border rounded-md">
      <ul>
        <li class="uppercase text-black font-bold text-xs">Codigo: 1053</li>
        <li class="uppercase text-black font-bold text-xs">Lote: 6</li>
        <li class="uppercase text-black font-bold text-xs">Manzana: 2</li>
        <li class="uppercase text-black font-bold text-xs">
          Superficie: 357 .2268
        </li>
        <li class="uppercase text-black font-bold text-xs">Norte: M</li>
        <li class="uppercase text-black font-bold text-xs">Sur: M</li>
        <li class="uppercase text-black font-bold text-xs">Este: M</li>
        <li class="uppercase text-black font-bold text-xs">Oeste: M</li>
      </ul>
      <p
        class="
          bg-red-600
          text-white
          font-bold
          rounded-sm
          uppercase
          px-2
          text-xs
        "
      >
        vendido
      </p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>