<template>
  <nav>
    <div class="md:flex md:justify-around">
      <div class="brand pt-2">
        <router-link to="/">
          <img src="./assets/logo.png" class="object-cover w-20 h-14" />
        </router-link>
      </div>
      <div class="navegation">
        <ul class="menu md:flex">
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              class="uppercase text-green-600 font-bold text-sm"
              >Inicio</router-link
            >
          </li>
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              @click="showSubmenu1 = !showSubmenu1"
              class="uppercase text-green-600 font-bold text-sm"
            >
              Nosotros <i class="bx bxs-down-arrow text-xs"></i>
            </router-link>
            <ul
              class="submenu mt-2 p-1 bg-green-500 w-[134%] absolute rounded-md"
              v-if="showSubmenu1"
            >
              <li class="text-center border-b text-sm ">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum.</router-link
                >
              </li>
              <li class="text-center border-b text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum .</router-link
                >
              </li>
              <li class="text-center border-b text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum.</router-link
                >
              </li>
              <li class="text-center text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum. </router-link
                >
              </li>
            </ul>
          </li>
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              @click="showSubmenu2 = !showSubmenu2"
              class="uppercase text-green-600 font-bold text-sm"
            >
              Propiedades <i class="bx bxs-down-arrow text-xs"></i>
            </router-link>
            <ul
              class="submenu mt-2 p-1 bg-green-500 w-[112%] absolute rounded-md"
              v-if="showSubmenu2"
            >
              <li class="text-center border-b text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum.</router-link
                >
              </li>
              <li class="text-center border-b text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum.</router-link
                >
              </li>
              <li class="text-center text-sm">
                <router-link
                  to="#"
                  class="inline-block py-2 text-white font-medium"
                  >Lorem, ipsum.</router-link
                >
              </li>
            </ul>
          </li>
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              class="uppercase text-green-600 font-bold text-sm"
              >Servicios</router-link
            >
          </li>
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              class="uppercase text-green-600 font-bold text-sm"
              >Blog</router-link
            >
          </li>
          <li class="inline-block relative mx-4 py-5">
            <router-link
              to="#"
              class="uppercase text-green-600 font-bold text-sm"
              >Contactos</router-link
            >
          </li>
        </ul>
      </div>
      <div class="loguin pt-5">
        <button
          class="
            px-2
            py-1
            uppercase
            font-semibold
            bg-green-700
            text-white
            rounded-md
            text-sm
          "
        >
          <i class="bx bx-lock"></i> Acceder
        </button>
      </div>
    </div>
  </nav>
  <router-view />
</template>
<script>
import { ref } from "vue";

export default {
  setup() {
    const showSubmenu1 = ref(false);
    const showSubmenu2 = ref(false);

    return { showSubmenu1, showSubmenu2 };
  },
};
</script>
